<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Med for Me</title>
  </head>
  <body>
    {{! render the other views with res.render('<viewName>') }}
    {{{body}}}
  </body>

</html>