<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Med for Me</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    {{! render the other views with res.render('<viewName>') }}
    {{{body}}}
  </body>

</html>