<nav class="display-flex justify-center p-2">
    <a href="/userslist">Users List</a> |
    <a class="no-button" id="addNew" href="/addvaccine">Add New Covid VACCINE</a> |
    <a class="no-button" id="editVaccine" href="/vaccines">Edit VACCINES</a>  |
    <a href="/dashboard">Dashboard</a>
</nav>

<hr style="width:100%;text-align:left;margin-left:0">

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
<hr style="width:100%;align:center;margin-left:0">


</div>

<script src="./js/profile.js"></script>
