color scheme sourced from http://khroma.co/generator/
canvas {
  position:fixed;
  z-index:-1;
}

:root {
  --outer-space: #33393f;
  --bright-turquoise: #2aefcb;
  --gin: #e0eae4;
  --heliotrope: #33393f;
}

/* set content highlight color and background */

.back{
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 100%;
}
.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 2em;
}
.box:first-child{
  align-self: auto;
}



/* make each code card a flexbox column to align and justify content within it */
.code-card {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: right;
  min-height: 80%;
  color: var(--heliotrope);
  outline: 2px solid var(--heliotrope);
  outline-color: #33393f;
  outline-offset: -2px;
}


.card-text {
  outline-color: none;
  padding: 1%;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  position:relative ;
  color: #ffffff;
  color: var(--gin);
}
#users {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users td, #users th {
  border: 1px solid #ddd;
  padding: 8px;
}

#users tr:nth-child(even){background-color: #f2f2f2;}

#users tr:hover {background-color: #ddd;}

#users th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

@property --p{
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

.pie {
  --p:20;
  --b:22px;
  --c:darkred;
  --w:150px;
  
  width:var(--w);
  aspect-ratio:1;
  position:relative;
  display:inline-grid;
  margin:5px;
  place-content:center;
  font-size:25px;
  font-weight:bold;
  font-family:sans-serif;
}
.pie:before,
.pie:after {
  content:"";
  position:absolute;
  border-radius:50%;
}
.pie:before {
  inset:0;
  background:
    radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
    conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
          mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
  inset:calc(50% - var(--b)/2);
  background:var(--c);
  transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
  animation:p 1s .5s both;
}
.no-round:before {
  background-size:0 0,auto;
}
.no-round:after {
  content:none;
}
@keyframes p {
  from{--p:0}
}

body {
  background:#ddd;
}