header,
.project:not(:last-child) {
  border-bottom: 1px solid rgb(204, 204, 204);
}
body {
  background-color: rgb(196, 238, 254);
  text-decoration: none;
  background-image: url('../assets/m.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 100% 100%;
}
a {
  text-decoration: none;
}
.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}
.header {
  font-weight: bold;
  text-decoration: none;
}
.no-button:hover {
  color: #065b83;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}
.commets {
  text-align: left;
  color: #065b83;
  font-weight: bold;
}
.mark {
  font-size: small;
  text-align: right;
}
.card {
  opacity: 85%;
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  font-weight: bold;
  color: rgb(0, 63, 54);
  border: none;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 246, 252);
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  margin: 60px auto;
  padding: 2%;
  width: 70vw;
  margin-bottom: 5%;
}

a :hover {
  transform: scale(1);
  text-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
}

/* Angela - Working on adding a ranking system.  */
i {
  color: #330741;
  font-size: 2rem;
}

.not-filled {
  color: rgb(214, 173, 239);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.range-container {
  height: min-content;
  display: flex;
  align-items: flex-start;
  justify-content: right;
  flex-direction: column;
}

.range-container h4 {
  color: #8373e6;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.radio-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: left;
}

.custom-radio input {
  display: none;
}

.radio-btn {
  margin: 10px;
  width: 40px;
  height: 45px;
  border: 3px solid transparent;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  text-align: center;
  box-shadow: 0 0 20px #c3c3c367;
  cursor: pointer;
}

.radio-btn > i {
  color: #ffffff;
  background-color: #8373e6;
  font-size: 12px;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%) scale(4);
  border-radius: 50px;
  padding: 3px;
  transition: 0.2s;
  pointer-events: none;
  opacity: 0;
}

.radio-btn .hobbies-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 38%;
  left: 48%;
  transform: translate(-50%, -50%);
}

.radio-btn .hobbies-icon i {
  color: #695ac2;
  line-height: 35px;
  font-size: 25px;
}

.radio-btn .hobbies-icon h3 {
  color: #281e63;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.custom-radio input:checked + .radio-btn {
  border: 3px solid #4c37c6;
}

.custom-radio input:checked + .radio-btn > i {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.custom-radio input:checked + .hobbies-icon {
  background-color: #0ca656;
}
.custom-radio input:checked + .hobbies-icon > i {
  opacity: 1;
}
